#card {
  width: 1004px;
  height: 638px;
  position: relative;
  background-size: cover;
}

#overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

#logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 250px;
}

#qr-code {
  position: absolute;
  right: 30px;
  top: 30px;
  border: 15px solid white;
}

#name {
  position: absolute;
  margin: 0;
  bottom: 15px;
  left: 35px;
  font-family: "Tahoma", sans-serif;
  font-size: 95px;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 2px black;
}

.hack {
  visibility: hidden;
}

#form-card {
  margin: 20px 0;
}

#background-select {
  display: flex;
  margin: 10px 0 20px;
}

#background-select img {
  width: 200px;
  border: 1px solid black;
  margin-right: 10px;
  opacity: 0.75;
  cursor: pointer;
}

#background-select img:hover {
  opacity: 1;
  cursor: pointer;
}
